page-home {
    .center {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        height: 100%;
  }

    #canvas {
        display: block;
        position: relative;
        overflow: hidden;
    }
    #canvas-container {
        overflow-x: auto;
        overflow-y: visible;
        position: relative;
        margin-top: 20px;
        margin-bottom: 20px;
      }
      @media (min-width: 1200px) {
        .span12 {
            width: 1170px;
        }
      }
      
}
