<ion-header no-border>
  <ion-navbar transparent>
    <ion-title>
      dKomp
    </ion-title>
    <ion-buttons end>
      <!-- <button ion-button clear (click)="authWithSpotify()" *ngIf="!loggedIn">Login</button> -->
      <button ion-button clear (click)="logout()" *ngIf="loggedIn">Logout</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="bg-style">

  <!-- <div *ngIf="!loggedIn" text-center padding>Please Login to load your WordCloud</div> -->
  <div *ngIf="!loggedIn" text-center class="center">
    <button full ion-button ion-button round color="secondary" (click)="authWithSpotify()">Login</button>
  </div>
  
  <canvas *ngIf="loggedIn" width="700" height="1000" style="width: 350px; height: 500px" id="canvas" class="canvas"></canvas>

  <div class="buttons" *ngIf="loggedIn" text-center>
    <button (click)="changeTheme('pink')" large ion-button clear color="primary" icon-only>
      <ion-icon name="radio-button-on"></ion-icon>
    </button>
    <button (click)="changeTheme('handwritten')" large ion-button clear color="secondary" icon-only>
      <ion-icon name="radio-button-on"></ion-icon>
    </button>
    <button (click)="changeTheme('dark')" large ion-button clear color="dark" icon-only>
      <ion-icon name="radio-button-on"></ion-icon>
    </button>
    <button (click)="saveCanvasImage()" ion-button clear large color="dark" outline icon-start>
      <ion-icon name="share"></ion-icon>
    </button>
  </div>
</ion-content>